.grid-item{
  padding:20px;
}
.white-back{
  background:#fff;
}
.bg-greensea{
  background: #16a085 !important;
  color:#fff;
}
.bg-lightred{
  background: #e05d6f !important;
  color:#fff;
}
.bg-blue{
  background: #418bca !important;
  color:#fff;
}
.bg-slategray{
  background: #3f4e62 !important;
  color:#fff;
}
.mg-top-20{
  margin-top: 20px;
}
.echarts {
  width: 100%;
  height: 100%;
}